* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px auto;
  max-width: 1128px;
}

.gallery-item {
  overflow: hidden;
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: inline-block;
  padding-left: 15px;
  width: 100%;
  transform: translateY(-100%);
  color: blanchedalmond;
  background-color: black;
  line-height: 2.5;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.back-link {
  display: flex;
  margin: 10px 50px;
  max-width: 90%;
}

.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8);
}
